
.tarjeta{
    display: flex;
    flex-direction: row;
    flex-grow: 0.5;
    margin: 10px;
    background-color: black;
    justify-items: flex-start;
}

.tarjeta img {
    width: 50%;
    height: 100%;
}

.tarjeta div {
    width: 40%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.tarjeta div .icons {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 100%;
}

.tarjeta div .icons .modeIco{
    width: 50px;
    margin: 10px;
}