*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../static/image/osu!.full.3229709.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.contend {
    width: 100%;
    height: auto;
    color: azure;
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 1;
    height: 200px;
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 170px;
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    display: flex;
    flex-grow: 1;
    height: 100px;
    justify-content:flex-end;
    align-items: center;
    background-color: rgb(44, 43, 43);
}

.navigator{
    width: 70%;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;


}

.navButton{
    width: 20%;
    display: flex;
    height: 60px;
    background-color: rgb(255, 0, 179);
    justify-content: center;
    align-items: center;
    line-height: 100%;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.mainAsideContend{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main{
    width: 70%;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../static/image/asideBG.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


footer{
    display: flex;
    background-color: rgb(255, 0, 179);
    color: black;
    height: 40px;
    line-height: 30px;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.profileBackground {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background-color: blueviolet;
    background-image: url(../../static/image/profilebackgroundTest.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-bottom: 30px;
}

.profileMain{
    padding: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.profileImage { 
    position: relative;
    width: 15%;
    height: 60%;
    min-height: 200px;
    min-width: 200px;
    border-radius: 100px;
    border: solid 3px white;
}

.profileInfo{
    width: 95%;
    min-height: 400px;
    margin-bottom: 30px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 3;

}

.profileInfo div {
    width: 30%;
    min-height: 300px;
    background-color: brown;
}

.profileName {
    font-size: 30px;
}